body {
  background-color: #1D1D1D; 
  font-family: Arial, sans-serif;
  color: #FFFFFF; 
}

h1{
  display: flex;
  justify-content: center;
}

h2 {
  color: #EAEAEA; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #333;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px; 
  background-color: #2D2D2D; 
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px; 
  background-color: #444; 
  color: #FFF;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

input {
  padding: 10px;
  border-radius: 10px; 
  border: 1px solid #444;
  margin-right: 10px;
  background-color: #2D2D2D; 
  color: #FFF;
}

div {
  margin: 20px;
}
